*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
    padding: 2.5rem;
}

/* navbar styles */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav h4{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1rem;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav li{
    margin-left: 1.5rem;
}
.nav a{
    text-decoration: none;
    color: rgb(78, 78, 78);
}
.nav .nav-logo, .nav-title-second-part{
    color: #FF5400;
}
.nav .nav-logo{
    font-size: 2.2rem;
    margin-right: .5rem;
}
.banner{
    background-image: url('Images/main-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}
.banner-content{
    padding: 2rem;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content h1{
    font-weight:900;
    font-size: 3rem;
    margin: 1.5rem auto;
}
.banner-content p{
    font-weight: 600;
    font-size: 1.1rem;
    width: 70%;
    justify-content: center;
}
.input-section{
    margin-top: 2.5rem;
    background-color: #ffffff5e;
    padding: 1rem;
    border-radius: 10px;
}
.input-section input, select{
    width:150px;
    padding: .5rem .8rem;
    border: 0;
    border-radius: 5px;
}
.btn-primary{
    background-color: #FF5400;
    color: #fff;
    cursor: pointer;
}

/* popular tour section style */
.popular-tour{
    margin-top: 100px;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.popular-tour .popular-tour-content{
    padding: 1.5rem;
}
.popular-tour .popular-tour-content h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.popular-tour .popular-tour-content p, li{
    margin-bottom: 1.5rem;
    color: rgb(104, 103, 103);
}
.popular-tour .popular-tour-content li{
    margin-left: 2rem;
}
.popular-tour .popular-tour-img{
    margin-left: 1.5rem;
}
.btn-secondary{
    background-color: #FF5400;
    color: #fff;
    cursor: pointer;
    padding: .7rem 1rem;
    border: 0;
    border-radius: 7px;
}

/* destination area styles */
.destination-container{
    margin-top: 120px;
}
.destination-title{
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.destination-title h2{
    font-weight: 700;
    font-size: 2rem;
}
.destination-title p{
    color: rgb(104, 103, 103);
    margin: 1.5rem 0;
}

.row img{
    width: 100%;
    height: 100%;
}
.row{
    height: 300px;
    display: grid;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}
.first-row{
grid-template-columns: repeat(2, 1fr);
}
.second-row{
    grid-template-columns: 4fr 5fr 3fr;
}
.third-row{
    grid-template-columns: 5fr 7fr;
}
.row .Maldives{
    background-image: url('images/one.png');
}
.row .Indonesia{
    background-image: url('Images/two.png')
}
.row .Srilanka{
    background-image: url('Images/four.png')
}
.row .America{
    background-image: url('Images/Rectangle-8.png')
}
.row .Kashmir{
    background-image: url('Images/five.png')
}
.row .Bangladesh{
    background-image: url('Images/Rectangle-10.png')
}
.row .Bandarban{
    background-image: url('Images/main-banner.png')
}

.row .Maldives, 
.Indonesia, 
.Srilanka, 
.America, 
.Kashmir,
.Bangladesh, 
.Bandarban{
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-repeat: no-repeat;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 800;
    font-size: 1.7rem;
}
.choose-container{
    margin-top: 120px;
}
.choose-container .choose-us{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.choose-us  h2{
    font-size: 2rem;
    font-weight: 800;
    margin: 1rem;
}
.choose-us p{
    color: rgb(119, 119, 119);
}
.hotels-service-container{
    display: flex;
    gap: 2rem;
    margin: 60px auto;
}
.hotels-service-container img{
    width: 60px;
    margin-bottom: 30px;
}
.hotels, .service{
    padding: 30px 40px;
    border-radius: 15px;
}
.hotels{
    background-color: rgba(255, 245, 246, 0.596);
    border: 1px solid rgb(255, 217, 226);
}
.service{
    background-color: rgba(241, 255, 241, 0.644);
    border: 1px solid rgb(208, 255, 208);
}
.choose-container .price{
    width: 40%;
    margin: -20px auto;
    background-color: rgba(248, 245, 255, 0.582);
    border: 1px solid rgb(211, 199, 253);
    padding: 30px 40px;
    border-radius: 15px;
}
.price img{
    width: 60px;
    margin-bottom: 30px;
}
.choose-container h4{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* newsletter section styles */
.newsletter-container{
    display: flex;
    gap: 2rem;
    margin-top:150px;
    align-items: center;
}
.newsletter-content{
    padding: 2rem;
    border-radius: 15px;
    border: 1px solid #FF5400;
}
.newsletter-title{
    font-size: 2rem;
}
.newsletter-content p{
 color: rgb(114, 114, 114);
 margin: 1.5rem auto;
}
.newsletter-content input{
    padding: .5rem 1rem;
    border: 0;
    border-radius: .5rem;
    margin-bottom: 1rem;
    background-color: rgba(238, 238, 238, 0.589);
    width: 90%;
}
.newsletter-content .btn-newsletter{
    padding: .5rem 1rem;
    border: 0;
    border-radius: .5rem;
    width: auto;
}
.newsletter-img img{
    margin-bottom: -100px;
}
.newsletter-badge{
    background-color: #FF900E;
    padding: 2rem;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    max-width: 200px;
    position: relative;
    bottom: 80px;   
    left: 325px;
    transform: rotate(-25deg); 
}
.newsletter-badge h2{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
}
.newsletter-badge p{
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0;
}





/* mobile and medium device styles */
@media screen and (max-width: 600px){
    body{
        padding: .5rem;
    }
    .nav{
       flex-direction: column;
    }
   .nav ul{
        flex-direction: column;
    }
    .nav h4{
        margin-bottom: .5rem;
        margin-right: 4rem;
    }
    .input-section{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    .input-section input, select{
        width:150px;
       margin: .4rem;
    }
    .banner-content h1{
        font-weight:700;
        font-size: 2rem;
        margin: 0 auto;
    }
    .banner-content p{
        font-weight: 500;
        font-size: 1rem;
        width: 70%;
        justify-content: center;
    }
    .input-section{
        margin-top: 1rem;
        background-color: #ffffff5e;
        padding: .5rem;
        border-radius: 10px;
    }
    .popular-tour{
        flex-direction: column;
        margin-top: 50px;
    }
    .popular-tour .popular-tour-content{
        padding: .5rem;
    }
    .popular-tour .popular-tour-content h2{
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }
    .popular-tour .popular-tour-content p, li{
        margin-bottom: .5rem;
    }
    .popular-tour .popular-tour-content li{
        margin-left: 1rem;
    }
    .popular-tour .popular-tour-img{
        margin-top: .5rem;
        margin: 0 auto;
    }    
    .popular-tour .popular-tour-img img{
        width: 100%;
    }    


    .destination-container{
        margin-top: 50px;
    }
    .destination-container .destination-title{
        text-align: center;
        padding: .8rem;
        width: auto;
    }
    .destination-title h2{
        font-weight: 500;
        font-size: 1.5rem;
    }
    .destination-title p{
        margin: .3rem;
    }
    .row .country{
        height: 250px;
    }
    .first-row, .second-row, .third-row{
        grid-template-columns: 1fr;
        gap: 1rem;
        height: auto;
        }


        .choose-container{
            margin-top: 50px;
        }
        .choose-container .choose-us{
            text-align: center;
            width: auto;
        }
        
        .hotels-service-container{
            flex-direction: column;
        }
       
        .hotels, .service{
            padding: 15px 20px;
            border-radius: 10px;
        }
        .choose-container .price{
            width: auto;
            padding: 10px 20px;
            border-radius: 10px;
        }

        .newsletter-container{
            flex-direction: column;
            width: auto;
        }    
        .newsletter-img img{
            width: 100%;
        }
        .newsletter-badge{
            bottom: 80px;   
            left: 180px;
            transform: rotate(-25deg); 
        }
    

}



/* laptop device styles */
@media screen and (min-width: 600px) and (max-width: 992px){
   
}